#header{
	text-align:center;
	color:white;
	background-image: url("img/bac.jpg");
	width:100%;
	padding-top:10%;
	padding-bottom:10%;

}

body,html,div,h1{
	margin:0;
}

h1.title{
	font-size:30px;
}

body{
	background-color:black;
}

#c{
	color:white;
	margin:2%;
	padding:2%;
	background-color:#615d5c;
}

p{
	font-size:20px;
}

img{
	height:auto%;
	width:100%;
}
